
# pixi environments
.pixi
*.egg-info

# vscode
.vscode

# Data directories
#rawdata*
procdata/
# results/  # dd the results to github

# Jupyter
.ipynb_checkpoints

logs/

# Python
__pycache__/
.Rproj.user
