
# pixi environments
.pixi
*.egg-info

# vscode
.vscode

# Data directories
rawdata*
procdata/
results/

# Jupyter
.ipynb_checkpoints

logs/

# Python
__pycache__/
# pixi environments
.pixi
*.egg-info

# Exclude MR directory but track other rawdata
rawdata/Breast/ISPY2-100899/MR/

